<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment</title>
</head>
<>
<h2>Your Files</h2>

    <hr>
        {%for i in range(0, len)%}
                <div >{{data[i]}}</div><br/>
							{%endfor%}

<br/><br/>
<h2>Upload a File</h2><br/>
    <p>Your file will save in your google drive</p><br/>

    <form method="post" action="/uploads" enctype="multipart/form-data">
        <p> Choose file in png format </p> <br>
        <input type="file" id="file2" name="file">
        <br>
        <input type = submit value=Upload >
        <br/></form>

</body>
</html>


